body{
    margin: 0
;
    padding: auto
}

body > footer{
    background-color: dodgerblue;
}

body > footer > p{
    padding: 16px;
    color: white;
    text-align: center;
}

body > header {
    background-color: dodgerblue;
    color: white;
}

#logo{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 35px;
    background-color: dodgerblue;
}

article {
    margin: auto;
    width: 70%;
  }

  #nav1{
      float: right;
      width: auto;
      display: inline;

  }
#ul1{
      list-style: none;


  }

#ul1 > li{
    display: inline;
    padding: 16px;

    
  }

#nav1 > ul > li > a{
      color: white;

  }

#latest{
    text-align: left;
    margin: -20%;
    margin-left: 300px;
    margin-right: auto  
    }

#breaking-news{
    text-align: left;
    margin: 20%;
    margin-left: 300px;
    margin-right: auto  
    }

#comments-image{
    display: block;
    margin-top: -10;
    margin-left: 200px;
    margin-right: auto
}

#comments-info{
    margin-top: -10;
    margin-left: 500px;
}
        
#news-image{
    display: block;
    margin-left: 300px;
    margin-right: auto
}

#headlines{
    display: block;
    margin-top: 0;
    margin-left: 800px;
    margin-right: auto
}

#headlinesub{
    display: block;
    margin-top: auto;
    margin-left: 800px;
    margin-right: auto
}